body {
    background-color: #fafafa;
    /*overflow: hidden;*/
    margin: 0;
    /*height: 5000px;*/
    width: 100%;
}


#sideBar {
    /*background-color: pink;*/
    margin-right: 10px;
    margin-left: 3px;
    width: 19%;
    height: 3000px;
    float: left;
    font-family: "Microsoft YaHei UI";
}

#similarity {
    height: 250px;
    margin-top: 170px;
}

ol {
    padding-left: 20px;
}

#according {
    height: 300px;
}

ol li {
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 10px;

}

li a {
    text-decoration: none;
    color: #4ea9fb;
}

li a:visited {
    color: grey;
    font-style: normal;

}

h3 {
    font-weight: normal;
    font-size: 16px;
}




